# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# IDE files (for example, VS Code, PyCharm)
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging files
*.egg-info/
dist/
build/

# Python logs
*.log
